aside.page-side
    .side-content-wrapper
        .side-block
            p.page-position 您当前的位置：装修效果图 &gt; 家居美图 &gt; 北欧风格客厅沙发展示
        .side-block
            .side-container.image-info
                header
                    .title 图片信息
                .content
                    .pic-title
                        | 日式风格客厅电视背景墙设计效果图
                        span （共8张）
                    p.desc 介绍：客厅的电视背景墙直接用隔断，这样的设计是少有的，节省了空间，也让我们看到了新的日式风格
                    .base
                        .item.author 发布者：开心一笑
                        .item.date 发布时间：2016-08-09
                    .tags
                        a.tag(href='#') 日式
                        a.tag(href='#') 客厅
                        a.tag(href='#') 电视背景墙
        .side-block
            .side-container
                header 相似图片
                .content
                    ul.similar-image-list
                        li
                            a(href='#')
                                img(src=`${_static('data/image/ad_baiming.png')}`)
                        li
                            a(href='#')
                                img(src=`${_static('data/image/ad_baiming.png')}`)
                        li
                            a(href='#')
                                img(src=`${_static('data/image/ad_baiming.png')}`)
                        li
                            a(href='#')
                                img(src=`${_static('data/image/ad_baiming.png')}`)
                        li
                            a(href='#')
                                img(src=`${_static('data/image/ad_baiming.png')}`)
                        li
                            a(href='#')
                                img(src=`${_static('data/image/ad_baiming.png')}`)
                        li
                            a(href='#')
                                img(src=`${_static('data/image/ad_baiming.png')}`)
                        li
                            a(href='#')
                                img(src=`${_static('data/image/ad_baiming.png')}`)
                        li
                            a(href='#')
                                img(src=`${_static('data/image/ad_baiming.png')}`)
            .ad-block
                a(href='#')
                    img(src=`${_static('data/image/ad_baiming.png')}`, alt='')
            .side-container
                header
                    .title 同主题图片
                .content
                    ol.similar-theme-list
                        li.active(data-index='1')
                            .title
                                | 中式时尚家居隔断装修图
                                span （5张）
                            .image-view
                                a(href='')
                                    img(src='')
                                a(href='')
                                    img(src='')
                                a(href='')
                                    img(src='')
                                a(href='')
                                    img(src='')
                        li(data-index='2')
                            .title
                                | 中式时尚家居隔断装修图
                                span （5张）
                            .image-view
                                a(href='')
                                    img(src='')
                                a(href='')
                                    img(src='')
                                a(href='')
                                    img(src='')
                                a(href='')
                                    img(src='')
                        li(data-index='3')
                            .title
                                | 中式时尚家居隔断装修图
                                span （5张）
                            .image-view
                                a(href='')
                                    img(src='')
                                a(href='')
                                    img(src='')
                                a(href='')
                                    img(src='')
                                a(href='')
                                    img(src='')
                        li(data-index='4')
                            .title
                                | 中式时尚家居隔断装修图
                                span （5张）
                            .image-view
                                a(href='')
                                    img(src='')
                                a(href='')
                                    img(src='')
                                a(href='')
                                    img(src='')
                                a(href='')
                                    img(src='')
                        li(data-index='5')
                            .title
                                | 中式时尚家居隔断装修图
                                span （5张）
                            .image-view
                                a(href='')
                                    img(src='')
                                a(href='')
                                    img(src='')
                                a(href='')
                                    img(src='')
                                a(href='')
                                    img(src='')
                        li(data-index='6')
                            .title
                                | 中式时尚家居隔断装修图
                                span （5张）
                            .image-view
                                a(href='')
                                    img(src='')
                                a(href='')
                                    img(src='')
                                a(href='')
                                    img(src='')
                                a(href='')
                                    img(src='')
        .side-block
            .side-container.similar-tag
                header
                    .title 相似标签
                .content
                    .tag-wrapper
                        a.tag(href='#') 日式
                        a.tag(href='#') 客厅
                        a.tag(href='#') 电视背景墙
                        a.tag(href='#') 电视背景墙
                        a.tag(href='#') 电视背景墙
                        a.tag(href='#') 电视背景墙
                        a.tag(href='#') 电视背景墙
                        a.tag(href='#') 电视背景墙
        .side-block
            .side-container
                header
                    .title 免责声明
                .content
                    p.disclaimer 所发布或转载的设计作品，其版权归属原作者或所属官方网站所有。如有涉及版权请予以通知，我们将及时处理。
